nav {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.20);
}

.btn-light {
  color: #0D6EFD;
}

.overflow-example {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}